body {
    margin:0;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-weight: 40px;
    font-size: 30px;
}

.red {
    background: #c71226;
    height: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue {
    background: #0d1b88;
    height: 100px;
    /* Challenge: 
    Create the flag of The Gambia.
    But only by applying styles to the blue box! */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.green {
    background: #397327;
    height: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

